apoVersion: app/v1
kind: Deployment
metadata:
  name: devops-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops
  template:
    metadata:
      labels:
        app: devops
  spec:
   containers:
   - name: devops
     image: devops-app:1.0
